#copyButton, #browserButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton, #browserButton {
    -fx-background-color: dimgray;
}

#copyButton:hover, #browserButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed, #browserButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}
